.filters {
	position: sticky;
	top: 20px;
	:global {
		.ant-input-affix-wrapper {
			padding: 10px;
			margin-bottom: 30px;
			border: none;
		}
		.ant-list {
			border: none;
			background-color: white;

			.ant-list-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 20px;
			}
			.ant-list-item {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				.itemName {
					display: flex;
					align-items: center;
					gap: 10px;
					img {
						width: 20px;
					}
				}
			}
		}
	}
}
